{% ckan_extends %}
{% block odm_head %}
<nav id="od-head">
    <div class="container row">
        <div class="col-sm-9 col-12">
            <div class="site-meta">
                <div id="od-logo">
                        <span id="icon-od-logo">
                            <svg class="svg-od-logo cambodia-logo"><use xlink:href="#icon-od-logo"></use></svg>
                        </span>
                    <h1>Op<sup>e</sup>nDevelopment</h1>
                    <div><h2 class="side-title">Cambodia</h2></div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-12">
            <div class="social">
                <nav>
                    <a href="https://www.facebook.com/OpenDevThailand/" target="_blank" rel="external" title="Facebook"><i
                            class="fa fa-facebook-official"></i></a>
                    <a href="https://twitter.com/opendevthai" target="_blank" rel="external" title="Twitter"><i
                            class="fa fa-twitter-square"></i></a>
                    <a href="https://thailand.opendevelopmentmekong.net/contacts/" title="Subscribe"><i
                            class="fa fa-envelope"></i></a>
                </nav>
            </div>
        </div>
    </div>
</nav>
{% endblock %}


{% block odm_nav %}
<ul class="nav navbar-nav">
    <li class="hidden-md"><a href="/">Home</a></li>
    <li class="dropdown">
        <a href="https://thailand.opendevelopmentmekong.net/topics/sustainable-development-goals"
           class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SDG
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="https://thailand.opendevelopmentmekong.net/topics/sdg-6-clean-water-and-sanitation/">SDG 6
                Clean water and sanitation</a></li>
            <li><a href="https://thailand.opendevelopmentmekong.net/topics/sdg13-climate-action/">SDG 13 Climate
                action</a></li>
            <li><a href="https://thailand.opendevelopmentmekong.net/topics/sdg14-life-below-water/">SDG 14 Life below
                water</a></li>
            <li><a href="https://thailand.opendevelopmentmekong.net/topics/sdg15-life-on-land/">SDG 15 Life on land</a>
            </li>
        </ul>
    </li>
    <li><a href="https://thailand.opendevelopmentmekong.net/topics">Topics</a></li>
    <li class="dropdown">
        <a href="https://thailand.opendevelopmentmekong.net/map-explorer" class="dropdown-toggle" data-toggle="dropdown"
           role="button" aria-haspopup="true" aria-expanded="false">Maps <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="https://thailand.opendevelopmentmekong.net/map-explorer">Interactive Maps</a></li>
            <li><a href="https://thailand.opendevelopmentmekong.net/layers">Download Maps</a></li>
            <li><a href="https://thailand.opendevelopmentmekong.net/map-explorer/mapping-kit/">Mapping Kits</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="https://thailand.opendevelopmentmekong.net/profiles" class="dropdown-toggle" data-toggle="dropdown"
           role="button" aria-haspopup="true" aria-expanded="false">Profiles <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="https://thailand.opendevelopmentmekong.net/profiles/access-to-public-service/">Access to Public
                Services</a></li>
            <li><a href="http://archive.thailand.opendevelopmentmekong.net/census-data/">Census Data</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="https://thailand.opendevelopmentmekong.net/news" class="dropdown-toggle" data-toggle="dropdown"
           role="button" aria-haspopup="true" aria-expanded="false">News <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="https://thailand.opendevelopmentmekong.net/news">News Archives</a></li>
            <li><a href="https://thailand.opendevelopmentmekong.net/announcements">Public Announcements</a></li>
        </ul>
    </li>
    <li><a href="https://thailand.opendevelopmentmekong.net/topics">Laws, Policies and Agreements</a></li>
    <li class="dropdown">
        <a href="https://thailand.opendevelopmentmekong.net/about" class="dropdown-toggle" data-toggle="dropdown"
           role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="https://thailand.opendevelopmentmekong.net/about/background/">Background</a></li>
            <li><a href="https://thailand.opendevelopmentmekong.net/contribute-data/">Data Contribution</a></li>
        </ul>
    </li>
    <li><a href="https://thailand.opendevelopmentmekong.net/blogs/">Blogs</a></li>

</ul>
{% endblock %}n
